---
name: Build

on: push

jobs:
  build_acap:
    name: Build ACAP packages
    runs-on: ubuntu-latest
    env:
      DEBIAN_FRONTEND: noninteractive
    strategy:
      matrix:
        # Build both with Docker and Podman
        builder: ["docker", "podman"]
    steps:
      - uses: actions/checkout@v6
      # Test all Makefile targets and make sure the ACAP files are created
      - name: Build
        run: CONTAINER_RUNTIME=${{ matrix.builder }} make -j
      - name: Verify
        run: |
          for f in eap/*.eap; do
          echo "Verification of ${f##*/}:"
          tar tzf "$f"
          done
      - name: Clean
        run: |
          make clean
          echo 'Make sure ACAP files were cleaned by `make clean`'
          [ ! -d eap ]
